$md: 900px;
.home {
  background: #f7f3ed;

  .banner {
    width: 100%;
  }

  .arrow {
    z-index: 100;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $md) {
      width: 60px;
      height: 60px;
    }

    &::before {
      display: none !important;
    }
  }

  .prev {
    left: 20px;
    transform: translateY(-50%);

    img {
      margin-right: 2px;
      height: 13px;

      @media (min-width: $md) {
        height: 20px;
        margin-right: 4px;
      }
    }
  }

  .next {
    right: 20px !important;
    transform: translateY(-50%);

    img {
      height: 13px;
      margin-left: 2px;

      @media (min-width: $md) {
        height: 20px;
        margin-left: 4px;
      }
    }
  }

  .explore {
    background: #f7f3ed;
    padding: 50px 0;

    @media (min-width: $md) {
      padding: 123px 0;
    }

    .title {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #fd8970;
      margin-bottom: 60px;
      cursor: pointer;

      @media (min-width: $md) {
        font-size: 40px;
        line-height: 40px;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    .slider-item {
      margin: 0 auto;
      background: radial-gradient(
        88.79% 88.79% at 50% 45.5%,
        #ffffff 0%,
        #ff8569 100%
      );
      border-radius: 20px;
      height: 150px;
      width: 50%;
	  cursor: pointer;

      @media (min-width: $md) {
        height: 350px;
        width: 50%;
      }

      .banner {
        border-radius: 20px;
      }
    }
  }

  :global(.slick-dots li.slick-active button:before) {
    color: #ff9270;
    opacity: 1;
    font-size: 12px;
  }

  :global(.slick-dots li button:before) {
    color: #e0e0e0;
    opacity: 1;
    font-size: 12px;
  }
}

.into-kawaiiverse {
  margin: 60px 0px 114px 0px;

  :global(.slick-dots) {
    bottom: 45px;
  }

  .banner {
    background: #e0d6bd;
    width: 100%;
    padding: 80px 0px 100px 0px;
    display: flex;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      color: #ffffff;
      transition-duration: 0.35s;

      &:hover {
        color: #fd8970;
      }
    }

    .banner-img {
      width: 56%;
      padding-top: 40px;
      margin: 0 auto;
    }
  }

  .banner-1 {
    background: #9cc1cd;
  }

  .banner-2 {
    background: #85a893;
  }

  .banner-3 {
    background: #6288b1;
  }

  .banner-4 {
    background: #463e70;
  }
}
