$md: 900px;

.breadcrumb {
  padding: 20px 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #484848;
  height: 16px;
  font-size: 13px;
  line-height: 13px;

  @media (min-width: $md) {
    padding: 30px 24px !important;
    font-size: 16px;
    line-height: 16px;
    height: 24px;
  }

  .text {
    margin: 0 6px;
    cursor: pointer;
  }

  .active {
    color: #5A41F2;
    font-weight: 700;
  }

  img {
    width: 16px;
    height: 16px;
    @media (min-width: $md) {
      width: 20px;
      height: 20px;
    }
  }
}
