.footer {
  background-color: #33176F;
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  .logo {
    width: 343px;
    max-width: 100%;
    margin-bottom: 22px;
  }

  .description {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 20px;
    max-width: 334px;
  }

  .org {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  .icon-1 {
    height: 40px;

    @media (max-width: 600px) {
      height: 32px;
    }
  }

  .group-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .x {
      margin: 0px 12px;
      padding-bottom: 5px;
    }

    .icon-2 {
      height: 24px;

      @media (max-width: 600px) {
        height: 18px;
      }
    }
  }

  .from {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 16px;
    text-transform: uppercase;
    padding-left: 25%;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }

  .organized {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 13px;
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }

  .logos {
    display: flex;
    align-items: center;
    height: 24px;

    .divider {
      width: 1px;
      height: 100%;
      margin: 0 15px;
      background-color: white;
    }

    // a {
    //   height: 100%;
    //   margin: 0;
    //   img {
    //     height: 100%;
    //   }
    // }
  }

  .label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .list-startup {
    display: flex;
    align-items: flex-start;
    
    img {
      padding-right: 54px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    width: 220px;
    height: 24px;
    margin-bottom: 30px;

    a {
      margin: 0;
      padding-right: 30px;
    }
  }

  .buttons {
    display: flex;
    .login {
      padding: 5px 20px;
      height: 31px;
      border: 1px solid #ffffff;
      border-radius: 4px;
      background-color: transparent;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
      margin-right: 15px;
      cursor: pointer;
    }
    .apply {
      padding: 5px 20px;
      height: 31px;
      background: #ffffff;
      border-radius: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #51379B;
      border: none;
      cursor: pointer;
    }
  }

  .fourth-col {
    @media (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

