.language-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 22px;
  width: 93px;
  height: 32px;
  background: #e5eaf0;
  border-radius: 4px;

  .item {
    width: 40px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:global(.active) {
      background: #ffffff;
      border-radius: 4px;
    }
  }
}
