$md: 900px;
$lg: 1200px;

.library-layout {
  width: 100%;
  font-family: "Josefin Sans";
  font-style: normal;
  background: #f7f3ed;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .left {
    margin: 32px;
    width: 852px;

    height: calc(100vh - 70px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
    }

    .navigation {
      background: #fff8ed;

      .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        @media (min-width: $md) {
          height: 60px;
          justify-content: flex-start;
        }
        .link {
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          color: #231f20;
          margin-right: 20px;
          cursor: pointer;

          &.apply {
            color: #ffffff;
            background: #f25c41;
            border-radius: 4px;
            padding: 4px 10px;
          }

          &:last-child {
            margin: 0;
          }
          @media (min-width: $md) {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #fd8970;
            margin-right: 22px;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 22px;
    .banner {
      display: none;
      @media (min-width: $lg) {
        margin-left: 15px;
        width: 260px;
        height: 666px;
        background-image: url("../../public/images/home/banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: sticky;
        top: 0;
      }
    }
  }

  .right {
    width: 260px;
    margin: 32px;

    .banner {
      width: 260px;
      height: 560px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      position: relative;

      .button {
        position: absolute;
        bottom: 62px;
        left: 50px;
        background: linear-gradient(0deg, #e73e1c 22.05%, #ef7d32 93.56%);
        border: 1.5px solid rgba(255, 255, 255, 0.35);
        border-radius: 4px;
        color: #ffffff;
        font-weight: 700;
        padding: 8px 20px;
        width: fit-content;
      }
    }
  }
}
