$sm: 600px;
$md: 900px;
$lg: 1200px;

.navbar {
  display: flex;

  .logo {
    height: 21px;
    @media (min-width: $md) {
      height: 41px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    .link {
      padding: 10px 20px;
      margin-left: 6px;
      cursor: pointer;
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        margin-left: 0;
      }
    }

    .apply {
      background: #f25c41;
      border-radius: 6px;
      color: #ffffff;
    }
  }

  .toggle {
    cursor: pointer;
  }
}

.profile {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 16px;
  color: #484848;
  cursor: pointer;
  margin-left: 0;
  font-size: 12px;
  @media (min-width: $md) {
    margin-left: 34px;
    font-size: 16px;
  }

  img {
    margin-right: 5px;
  }
}
