$md: 900px;
.news {
  flex: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #403e3e;
//   padding-right: 30px;
  text-align: justify;
  max-width: 1080px;
  margin: 0 auto;

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #f8a629;
    margin-bottom: 8px;

    @media (min-width: 900px) {
      font-size: 32px;
      margin-bottom: 24px;
    }
  }

  .date {
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #939598;
    margin-bottom: 16px;

    @media (min-width: 900px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 12px;
    @media (min-width: 900px) {
      font-size: 16px;
    }
  }
}

.description {
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  color: #575757;
}

.image-box {
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

.image {
	width: 60%;
}
