$md: 900px;
$sm: 600px;
.apply {
  padding: 40px 10px;
  width: 100%;
  min-height: calc(100vh - 42px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #f7f3ed;
  @media (min-width: 900px) {
    min-height: calc(100vh - 70px);
  }

  .container {
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 10px;

    @media (min-width: $md) {
      padding: 40px 70px;
    }

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #5F29F8;
      margin-bottom: 20px;
    }

    .sub-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #4755CE;
      margin-bottom: 12px;
    }

    .label {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #000000;
      margin-bottom: 8px;
    }

    .input {
      border: 1px solid rgba(160, 160, 160, 0.3);
      border-radius: 4px;
      height: 40px;
      width: 100%;
      padding: 8px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;
      margin-bottom: 15px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;

      :global(.MuiOutlinedInput-notchedOutline) {
        border: none;
      }

      :-webkit-autofill,
      :-webkit-autofill:hover,
      :-webkit-autofill:focus,
      :-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .file {
      display: none;
      &::-webkit-file-upload-button {
        visibility: hidden;
      }
      &::before {
        content: "Select some files";
        display: inline-block;
        background: linear-gradient(to top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }
    }

    .listFile {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .oneFile {
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }

    label {
      border: 1px solid rgba(160, 160, 160, 0.3);
      border-radius: 4px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 100%;
      padding: 8px 12px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: -0.02em;
      margin-bottom: 15px;
      color: #bdbec1;
    }

    .textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px 12px;
      border: 1px solid rgba(160, 160, 160, 0.3);
      border-radius: 4px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;

      &:focus-visible {
        outline: none;
      }
    }

    .error {
      color: red;
      font-size: 13px;
      margin-bottom: 12px;
    }

    .submit {
      background: #5A41F2;
      border-radius: 6px;
      width: 100%;
      max-width: 355px;
      height: 60px;
      padding: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
      margin: 0 auto;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
    }
  }
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-update-file {
    background: #5A41F2;
    border-radius: 6px;
    width: fit-content;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-transform: none;
  }
}
